[Unit]
Description=CCM Agent Lister for API calls  Service
After=network.target

[Service]
WorkingDirectory=/opt/ccm-agent
EnvironmentFile=-/etc/ccm-agent.env
ExecStart=/usr/bin/python3 /opt/ccm-agent/ccm_trigger.py
Restart=always
User=root
Group=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
